anyio==3.3.4
asgiref==3.4.1
async-lru==1.0.2
click==8.0.3
fastapi==0.70.0
h11==0.12.0
idna==3.3
jsonpickle==2.0.0
pyaes==1.6.1
pydantic==1.8.2
Pyrogram==1.2.9
PySocks==1.7.1
PyYAML==6.0
sniffio==1.2.0
starlette==0.16.0
TgCrypto==1.2.2
typing-extensions==3.10.0.2
uvicorn==0.15.0
